@import 'variables.scss';

.btn {
  padding: $padding $padding*2;
  background: $green-bg;
  color: #ffffff;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $green-bg-hover;
  }
}

$footer-transition-property: background-color, left, right !default;
$footer-transition-duration: 0.2s !default;
$footer-padding: 6px 16px !default;


