@import 'variables.scss';
// src/sass/main.scss
@import '~vuetify/src/styles/styles.sass';



.btn {
  padding: $padding $padding*2;
  background: $green-bg;
  color: $text-button-color;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $green-bg-hover;
  }
}



$data-table-mobile-row-min-height: 100px !default;




