@import '~vuetify/src/styles/styles.sass';


$padding: 8px;
$margin: 8px;

//$main-color: #ecfcf0;
$main-color: #ecfcf0;
$green-bg: #26ae68;
$green-bg-hover: #00BFA5;
$green-color: #adf0e0;

$radius: 4px;

$text-button-color: white;



