@import '~vuetify/src/styles/styles.sass';


$padding: 8px;
$margin: 8px;

//$main-color: #ecfcf0;
$main-color: #A7FFEB;
$green-bg: #07532c;
$green-bg-hover: #00BFA5;
$green-color: #1DE9B6;

$radius: 4px;

$text-button-color: white;



